Source: pydoctor
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders:
 Jelmer Vernooĳ <jelmer@debian.org>,
 Anthony Fok <foka@debian.org>,
Section: python
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
Build-Depends-Indep:
 pybuild-plugin-pyproject,
 python3-appdirs <!nocheck>,
 python3-astor <!nocheck>,
 python3-bs4 <!nocheck>,
 python3-configargparse <!nocheck>,
 python3-hypothesis <!nocheck>,
 python3-lunr <!nocheck>,
 python3-poetry,
 python3-pytest <!nocheck>,
 python3-setuptools,
 python3-twisted <!nocheck>,
 sphinx <!nocheck>,
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/python-team/packages/pydoctor
Vcs-Git: https://salsa.debian.org/python-team/packages/pydoctor.git
Homepage: https://github.com/twisted/pydoctor
Rules-Requires-Root: no

Package: pydoctor
Architecture: all
Depends:
 libjs-bootstrap,
 python3-cachecontrol (>= 0.12.12),
 python3-filelock,
 python3-lunr,
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Breaks:
 python-pydoctor (<< 19.11.0+git20200114.c74016b-1~),
Replaces:
 python-pydoctor (<< 19.11.0+git20200114.c74016b-1~),
Description: Python API document generator
 Pydoctor is a tool for generating API documentation for Python modules based
 on their docstrings via static analysis.
 .
 It was written primarily to replace epydoc for the purposes of the Twisted
 project as epydoc has difficulties with zope.interface.
